<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false">

  <variable name="logDirectory" value="${basedir}/logs"/>

  <targets>
    <target name="logfile" xsi:type="File"
            fileName="${logDirectory}/awsredrive.json"
            archiveEvery="Day"
            maxArchiveFiles="7">
      <layout xsi:type="JsonLayout" includeEventProperties="true" excludeEmptyProperties="true">
        <attribute name="@timestamp" layout="${date:format=yyyy-MM-ddTHH\:mm\:ss.fffZ}" />
        <attribute name="level" layout="${level:upperCase=true}" />
        <attribute name="logger" layout="${logger}" />
        <attribute name="message" layout="${message}" />
        <attribute name="exception" layout="${exception:format=tostring}" encode="false" />
        <attribute name="application" layout="AWSRedrive" />
        <attribute name="host" layout="${machinename}" />
      </layout>
    </target>

    <target name="logconsole" xsi:type="Console">
      <layout xsi:type="JsonLayout" includeEventProperties="true" excludeEmptyProperties="true">
        <attribute name="@timestamp" layout="${date:format=yyyy-MM-ddTHH\:mm\:ss.fffZ}" />
        <attribute name="level" layout="${level:upperCase=true}" />
        <attribute name="logger" layout="${logger}" />
        <attribute name="message" layout="${message}" />
        <attribute name="exception" layout="${exception:format=tostring}" encode="false" />
      </layout>
    </target>
  </targets>

  <rules>
    <!-- Metrics - Info+ -->
    <logger name="Metrics" minlevel="Info" writeTo="logconsole,logfile" final="true" />
    
    <!-- Microsoft/Kestrel - Discard Info and below, keep Warn+ -->
    <logger name="Microsoft.*" maxlevel="Info" final="true" />
    <logger name="Microsoft.*" minlevel="Warn" writeTo="logconsole,logfile" final="true" />
    
    <!-- All other loggers - Trace+ (filtering done in EntryLogger) -->
    <logger name="*" minlevel="Trace" writeTo="logconsole,logfile" />
  </rules>
</nlog>
